<!doctype html>
<html lang="en">
  <head>
    {% block meta %}
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="robots" content="follow, index" />
      <meta name="author" content="Short Shadows">
      <meta name="msapplication-TileColor" content="#000000">
      <meta name="msapplication-TileImage" content="{{ siteUrl }}ms-icon-144x144.png">
      <meta name="theme-color" content="#000000">
      <meta property="og:image" content="{{ siteUrl }}og-image.png" />
      <meta property="og:type" content="website" />
    {% endblock %}
    <link rel="apple-touch-icon" sizes="57x57" href="{{ siteUrl }}apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ siteUrl }}apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ siteUrl }}apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ siteUrl }}apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ siteUrl }}apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ siteUrl }}apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ siteUrl }}apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ siteUrl }}apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ siteUrl }}apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="{{ siteUrl }}android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ siteUrl }}favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ siteUrl }}favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ siteUrl }}favicon-16x16.png">
    <link rel="shortcut icon" href="{{ siteUrl }}favicon-96x96.png">
    <link rel="manifest" href="{{ siteUrl }}manifest.json">
    <title>Short Shadows</title>
    <link rel="stylesheet" type="text/css" href="{{ rev('static/assets/main.css') }}">
  </head>
  <body id="top">
    <div class="content">
      {% include '_components/header' %}
      {% block content %}{% endblock %}
    </div>
    {% include '_components/mobile-menu' %}
    {% block javascripts %}
      <script defer src="{{ rev('static/assets/runtime.js') }}"></script>
      <script defer src="{{ rev('static/assets/main.js') }}"></script>
    {% endblock javascripts %}
  </body>
</html>
