<div class="container-fluid album-block">
  <div class="row">
    <div class="col-12 col-md-6 image-col">
      <img src="{{ props.cover.one.url }}" alt="{{ props.albumTitle }} cover art" />
    </div>
    <div class="col-12 col-md-6 track-listing-col">
      <h2 class="h3">{{ props.albumTitle }}</h2>
      <div class="row">
        {% if props.spotifyLink %}
          <div class="col-6">
            <a href="{{ props.spotifyLink }}">
              <img src="{{ rev('/static/img/spotify-logo.png') }}" alt="Stream on Spotify" />
            </a>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
